/* styles.css */
#map {
    width: 1000px;
    height: 500px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    flex-grow: 1;
    margin: 0 5px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: grab;
    user-select: none;
}

#map-button {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
